p{
    margin: 0;
}
.cont{
    max-width: 100%;
    border-bottom: 2px solid #000000;
    border-top: 2px solid #000000;   
    z-index: 10; 
}
.footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    }

    @media (max-width: 600px){
    .cont{
        display:none !important;
    }
}