<div class="container espaço">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-9 noticia">
            <div class="d-flex justify-content-between">
                <h4 class="text-white noticias">Artistas LGBTQIA+ no RAP Nacional</h4>
                <p class="text-white noticias externa text-center p-1">Notícia Externa</p>
            </div>
            <div class="d-flex materia text-center">
                <img src="../../assets/logo.png" alt="">
                <p class="text-white mt-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias, aut.
                    Animi
                    porro
                    nemo officiis,
                    iusto magnam autem alias aliquid placeat incidunt, ut rerum pariatur esse, voluptas impedit ducimus
                    deleniti vitae! Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic optio quas itaque ad
                    velit
                    totam, maiores commodi voluptas minima? Eum a est dignissimos at aspernatur et, doloribus veniam
                    minus
                    saepe? Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, adipisci non soluta odit
                    possimus deserunt id omnis, iste excepturi consequuntur placeat doloremque?</p>
            </div>
            <div>
                <p class="text-white mt-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias, aut.
                    Animi
                    porro
                    nemo officiis,
                    iusto magnam autem alias aliquid placeat incidunt, ut rerum pariatur esse, voluptas impedit ducimus
                    deleniti vitae! Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic optio quas itaque ad
                    velit
                    totam, maiores commodi voluptas minima? Eum a est dignissimos at aspernatur et, doloribus veniam
                    minus
                    saepe? Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, adipisci non soluta odit
                    possimus deserunt id omnis, iste excepturi consequuntur placeat doloremque? Lorem ipsum dolor sit
                    amet consectetur adipisicing elit. Iure quasi libero, sit consectetur ipsa excepturi enim debitis
                    magnam, quidem, error ut provident? Voluptas, dolorum. Iure unde amet perspiciatis vitae veniam.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia voluptates aperiam non voluptatibus
                    iste possimus aut ipsam commodi ullam asperiores quibusdam nemo voluptate nisi tempora, nam incidunt
                    suscipit rem ipsa. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis excepturi
                    voluptas doloremque temporibus modi rem quaerat, mollitia aperiam sint esse exercitationem vel
                    laudantium odio laborum ut necessitatibus ab magni tempore?</p>
            </div>

            <hr class="mt-4 mb-4">

            <div class="d-flex">
                <img src="../../assets/icons/curtida.png" alt="" style="width: 30px; height: 30px; margin-right: 10px;">
                <img src="../../assets/icons/comentário.png" alt="" style="width: 30px; height: 30px; margin-right: 10px;">
                <img src="../../assets/icons/compartilhar.png" alt="" style="width: 30px; height: 30px;">
            </div>

            

        </div>
    </div>
    <div class="fim"></div>
</div>