<div class="container espaço">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-3">
            <div class="card mt-4 artists" routerLink="/rico-dalasam">
                <img src="../../assets/logo.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="text-center">Rico Dalasam</h4>
                    <p class="card-text text-justify">Some quick example text to build on the card title and make up the
                        bulk of the card's content.</p>
                </div>
            </div>
            
        </div>
        <div class="col-md-3">
            <div class="card mt-4 artists">
                <img src="../../assets/logo.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text text-center">Some quick example text to build on the card title and make up the
                        bulk of the card's content.</p>
                </div>
            </div>
            
        </div>
        <div class="col-md-3">
            <div class="card mt-4 artists">
                <img src="../../assets/logo.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text text-center">Some quick example text to build on the card title and make up the
                        bulk of the card's content.</p>
                </div>
            </div>
            
        </div>
        <div class="col-md-3">

        </div>
        <div class="col-md-3">
            <div class="card mt-4 artists">
                <img src="../../assets/logo.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text text-center">Some quick example text to build on the card title and make up the
                        bulk of the card's content.</p>
                </div>
            </div>
            
        </div>
        <div class="col-md-3">
            <div class="card mt-4 artists">
                <img src="../../assets/logo.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text text-center">Some quick example text to build on the card title and make up the
                        bulk of the card's content.</p>
                </div>
            </div>
            
        </div>
        <div class="col-md-3">
            <div class="card mt-4 artists">
                <img src="../../assets/logo.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text text-center">Some quick example text to build on the card title and make up the
                        bulk of the card's content.</p>
                </div>
            </div>
            
        </div>
        <div class="fim"></div>
    </div>
</div>