<div class="container">
    <div class="row ">
        <div class="col-md-3">

        </div>
        <div class="col-md-3 espaço">
            <div class="card mt-4 artists" routerLink="/rico-dalasam">
                <img src="../../assets/artists/cover/Rico-Dalassam.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="text-center">Rico Dalasam</h5>
                </div>
            </div>
            
        </div>
        <div class="col-md-3 espaço">
            <div class="card mt-4 artists">
                <img src="../../assets/logo.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="text-center">Rico Dalasam</h5>
                </div>
            </div>
            
        </div>
        <div class="col-md-3 espaço">
            <div class="card mt-4 artists">
                <img src="../../assets/logo.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="text-center">Rico Dalasam</h5>
                </div>
            </div>
            
        </div>
        <div class="col-md-3">

        </div>
        <div class="col-md-3">
            <div class="card mt-4 artists">
                <img src="../../assets/logo.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="text-center">Rico Dalasam</h5>
                </div>
            </div>
            
        </div>
        <div class="col-md-3">
            <div class="card mt-4 artists">
                <img src="../../assets/logo.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="text-center">Rico Dalasam</h5>
                </div>
            </div>
            
        </div>
        <div class="col-md-3">
            <div class="card mt-4 artists">
                <img src="../../assets/logo.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="text-center">Rico Dalasam</h5>
                </div>
            </div>
            
        </div>
        <div class="fim"></div>
    </div>
</div>