@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.container{
    position: sticky;
}

h5{
    color: #fff;
}
p{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    opacity: 0.9;
}
.capa{
    width: 100%;
    height: 50vh;
    background-image: url('../../../assets/artists/cover/Rico-Dalassam.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.gradiente-capa{
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(transparent, #0f1d38c7);
}
.profile{
    margin-left: 2em;
    width: 120%;
}
.profile h3{
    margin-top: 40vh;
}
.like{
    margin-top: 41vh;
    width: 2em;
    background-image: url('../../../assets/e-commerce-like-heart.png');
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.2s;
}
.like:hover{
    background-image: url('../../../assets/heart-simple-shape-silhouette.png');
}
.like:focus{
    background-image: url('../../../assets/heart-simple-shape-silhouette.png');
}
.biografia{
    width: 50%;
    height: 50%;
    background-color: #071125;
    margin-right: 2%;
    border-radius: 5px;
}
.lançamentos{
    width: 50%;
    border-radius: 5px;
    background-color: #071125;
}

.fim{
    height: 20%;
    margin-top: 200px;
}
.musics img{
    width: 25%;
    height: 13vh;
}
@media (max-width: 992px){
    .biografia-lançamentos{
        display: block !important;
    }
    .lançamentos{
        width: 100% !important;
        margin-top: 2%;
    }
    .biografia{
        width: 100%;
    }
    .profile img{
        margin-top: 20vh;
    }
}


@media (max-width: 768px){
    .profile{
        margin-left: 2em;
        width: 90%;
    }
}