<div class="cont p-2">
    <div class="container">
        <div class="row mb-2 ">

            <div class="col-md-3">
            </div>


            <div class="col-md-6">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <img src="../../assets/loupe.png" alt="" style="width: 25px; height: 25px; margin-right: 1em;">
                    </div>
                    <input type="text" class="form-control" placeholder="Pesquisar">
                </div>
            </div>


            <div class="col-md-3">
                <div class="d-flex justify-content-end">
                    
                    <img src="../../assets/profile-user.png" alt=""
                        style="width: 30px; height: 30px; margin-right: 1em;">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Login
                          </button>

                    <!-- Button trigger modal -->

                   <!-- <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Login
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div> -->
                </div>
            </div>
        </div>
    </div>