<ng-sidebar-container>

    <ng-sidebar [opened]="opened">
        <div class="mt-4 d-flex justify-content-end icon-nav">
            <input type="checkbox" id="checkbox-menu">
            <label for="checkbox-menu" (click)="toggleSidebar()">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>
        <div class="d-flex justify-content-start align-items-center p-3">
            <img src="../../assets/logo.png" alt="" class="img-fluid mt-5 mb-5" style="width: 60%;">
            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Login
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>

        </div>

        <ul class="list-group list-group-flush list">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Login
            </button>

            <div class="d-flex">
                <li class="list-group-item">
                    <img src="../../assets/home.png" alt="" srcset="" style="width: 25px; height: 25px;">
                    Início
                </li>
            </div>



            <div class="d-flex">
                <li class="list-group-item">
                    <img src="../../assets/newspaper.png" alt="" srcset="" style="width: 25px; height: 25px;">
                    Novidades
                </li>
            </div>


            <div class="d-flex">
                <li class="list-group-item">
                    <img src="../../assets/microphone.png" alt="" srcset="" style="width: 25px; height: 25px;">
                    Artistas
                </li>
            </div>

            <div class="d-flex">
                <li class="list-group-item">
                    <img src="../../assets/handshake.png" alt="" srcset="" style="width: 25px; height: 25px;">
                    Apoio
                </li>
            </div>

            <div class="d-flex">
                <li class="list-group-item">
                    <img src="../../assets/group.png" alt="" srcset="" style="width: 25px; height: 25px;">
                    Quem Somos
                </li>
            </div>
            <div class="d-flex">
                <li class="list-group-item">
                    <img src="../../assets/info.png" alt="" srcset="" style="width: 25px; height: 25px;">
                    Sobre
                </li>
            </div>
            <div class="d-flex">
                <li class="list-group-item mt-5">
                    <img src="../../assets/playlist.png" alt="" srcset="" style="width: 25px; height: 25px;">
                    Playlist
                </li>
            </div>
        </ul>


    </ng-sidebar>

    <div ng-sidebar-content>
        <div class="menu-hamburguer position-fixed d-flex">
            <input type="checkbox" id="checkbox-menu">
            <label for="checkbox-menu" (click)="toggleSidebar()">
                <span></span>
                <span></span>
                <span></span>
            </label>
            <h2 class="text-center ml-4">Inicio</h2>
            <div class="dropdown">
                <a class="btn btn-outline-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="../../assets/loupe.png" alt="" srcset="" style="height: 20px;">
                </a>

                <ul class="dropdown-menu mt-3 " aria-labelledby="dropdownMenuLink">
                    <li><input type="text" class="dropdown-item form-control pesquisa-bar"></li>
                </ul>
            </div>
        </div>



        <div class="cont mt-5">
            <div class="row">
                <div class="col-md-3 navigator">
                    <div class="d-flex justify-content-center">
                        <img src="../../assets/logo.png" alt="" class="img-fluid mt-4" style="width: 70%;">
                    </div>
                    <ul class="list-group list-group-flush list mt-4">
                        <div class="d-flex">
                            <li class="list-group-item">
                                <img src="../../assets/home.png" alt="" srcset="" style="width: 25px; height: 25px;">
                                <a routerLink='/home'>Início</a>
                            </li>
                        </div>



                        <div class="d-flex">
                            <li class="list-group-item">
                                <img src="../../assets/newspaper.png" alt="" srcset=""
                                    style="width: 25px; height: 25px;">
                                    <a routerLink="/noticias">Novidades</a>
                            </li>
                        </div>


                        <div class="d-flex">
                            <li class="list-group-item">
                                <img src="../../assets/microphone.png" alt="" srcset=""
                                    style="width: 25px; height: 25px;">
                                <a routerLink='/artistas'>Artistas</a>
                            </li>
                        </div>

                        <div class="d-flex">
                            <li class="list-group-item">
                                <img src="../../assets/handshake.png" alt="" srcset=""
                                    style="width: 25px; height: 25px;">
                                Apoio
                            </li>
                        </div>

                        <div class="d-flex">
                            <li class="list-group-item">
                                <img src="../../assets/group.png" alt="" srcset="" style="width: 25px; height: 25px;">
                                <a routerLink='/quem-somos'>Quem Somos</a>
                            </li>
                        </div>
                        <div class="d-flex">
                            <li class="list-group-item">
                                <img src="../../assets/info.png" alt="" srcset="" style="width: 25px; height: 25px;">
                                <a routerLink='/sobre'>Sobre</a>
                            </li>
                        </div>
                        <div class="d-flex">
                            <li class="list-group-item">
                                <img src="../../assets/playlist.png" alt="" srcset=""
                                    style="width: 25px; height: 25px;">
                                Playlist
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</ng-sidebar-container>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center mb-4">
                <img src="../../assets/logo.png" alt="" width="40%">
                <h4 class="mt-3">Seja Bem-Vindo</h4>
                <div class="p-4">
                    <input type="text" class="form-control" placeholder="Username" aria-label="Email"
                        aria-describedby="basic-addon1">
                    <input type="text" class="form-control mt-3" placeholder="Username" aria-label="Senha"
                        aria-describedby="basic-addon1">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
                <p class="mt-3">Não tem conta?<a data-bs-toggle="modal" data-bs-target="#modal">
                    Crie já
                </a></p>
            </div>
        </div>
    </div>
</div>







<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center mb-4">
                <img src="../../assets/logo.png" alt="" width="40%">
                <h4 class="mt-3">Seja Bem-Vindo</h4>
                <h6>Criar Conta</h6>
                <div class="p-4">
                    <input type="text" class="form-control" placeholder="Username" aria-label="Nome"
                        aria-describedby="basic-addon1">
                    <input type="text" class="form-control mt-3" placeholder="Username" aria-label="Email"
                        aria-describedby="basic-addon1">
                        <input type="text" class="form-control mt-3" placeholder="Username" aria-label="Senha"
                        aria-describedby="basic-addon1">
                    <input type="text" class="form-control mt-3" placeholder="Username" aria-label="Confirmar senha"
                        aria-describedby="basic-addon1">
                        <button type="submit" class="btn btn-primary mt-3">Criar</button>
                </div>
            </div>
        </div>
    </div>
</div>



