<div class="container">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-9">
            <div class="sobre">
                <h4 class="mt-4 text-white">O Nosso objetivo</h4>
                <p class="mt-4 text-white">

                    Criar espaços de divulgação que forneçam visibilidade aos artistas LGBTQIA+ no RAP nacional, também
                    viabilizando a troca de informações entre artista e público.
                    Nós somos estudantes de Design Digital, e com esse projeto buscamos fomentar a visibilidade dos
                    artistas LGBTQIA+ no RAP nacional, trazendo relevância desses artistas e seus trabalhos. Além disso,
                    criamos um espaço de apoio aos novos artistas que estão iniciando dentro do RAP nacional, para que
                    saibam quais os primeiros passos dessa jornada e que possam ganhar visibilidade sendo apresentados
                    ao nosso público, dentro da plataforma.
                    Trazemos como carater documental, uma linha do tempo que conta com os artistas LGBTQIA+ no RAP, e
                    também, relatos de alguns artistas sobre suas vivências e lutas.
                    Nossas construções e definições dentro do projeto, se deram a partir de pesquisas onde exploramos a
                    história do RAP nacional, a presença de artistas LGBTQIA+ no RAP e estudos com o público, para
                    entender como consomem os conteúdos produzidos pelos artistas e por onde os acompanham. Todo esse
                    contexto nos guiou na criação e desenvolvimento de necessidades a serem solucionadas na plataforma,
                    bem como a estruturação de personas e jornada do usuário.
                </p>
            </div>
        </div>
       
    </div>
    <div class="fim"></div>
</div>