<div class="container">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-9">
            <h2 class="text-center mt-4">QUEM SOMOS </h2>
            <p class="mt-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo placeat, assumenda esse nam
                rerum neque
                vero nesciunt? Odit rerum iste vel dicta doloribus voluptatem tempora quia eius corrupti atque! Quaerat!
            </p>
            <div class="d-flex">
                <img src="../../assets/logo.png" alt="">
                <img src="../../assets/logo.png" alt="">
            </div>
            <p class="mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam sapiente enim unde asperiores harum
                ratione repellendus fugit, rerum amet veritatis, dolorem veniam magni tenetur aliquid nemo fuga,
                officiis soluta iste.
            </p>
        </div>

    </div>
</div>