@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.container{
    position: sticky;
}
.sobre{
    background: #071125;
    height: 90%;
    margin-top: 8%;
    padding: 20px 40px;
}
p{
    font-family: 'Poppins', sans-serif;
    opacity: 0.9;
}
h4{
    font-family: 'Paytone One';
}
.fim{
    height: 20%;
    margin-top: 200px;
}
